*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.clearfix::after{
    content: " ";
    display: table;
    clear: both;
}


/*body*/

.container{
    /* width: 1170px; */
    margin: 0 auto; /*centratura orizzontale*/
    width: max-content;
}

.box{
    /* width: calc((100% - 60px) / 3); [100% - (margin-sx-dx * 6 ) ] / 3 */
    float: left;
    margin: 10px 10px;
}


.riga{
    margin: 0px auto;
}
.img-container{
    height: 600px;
    position: relative;
}

img{
    height: 100%;
}


.sconti{
    position: absolute;
    bottom: 10px;
    left: 0px;
    height: 20px;
}

.sconto50 , .sconto30{
    /* position: absolute;
    bottom: 10px;
    left: 0px; */
    background-color: red;
    padding: 1px 7px;
    text-align: center;
    font-size: 18px;
    color: white;
    display: inline-block;
    line-height: 20px;

}


.sostenibile{
    /* position: absolute;
    bottom: 10px;
    left: 20px; */
    display: inline-block;
    background-color: green;
    font-size: 18px;
    line-height: 20px;
    padding: 1px 7px; /*il paddiiiiinnnng*/
    color: white;

}



/*debug*/

.debug.container{
    border: 1px solid black;
    background-color: coral;
    /* height: 800px; */
    /* width: max-content; */

    
}

.box.debug{
    /* height: 300px; */
    /* width: calc((100% - 60px) / 3); [100% - (margin-sx-dx * 6 ) ] / 3 */
    background-color: darkblue;
    border: 1px solid black;
}

.text.debug{
    height: 50px;
    background-color: yellow;
    /* margin-top: -4px; */
} 
