*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.clearfix::after{
    content: " ";
    display: table;
    clear: both;
}


/*body*/

.container{
    width: 1170px;
    margin: 0 auto; /*centratura orizzontale*/
}











/*debug*/

.debug.container{
    border: 1px solid black;
    background-color: coral;
    /* height: 800px; */

    
}

.box.debug{
    height: 300px;
    width: calc((100% - 60px) / 3); /*[100% - (margin-sx-dx * 6 ) ] / 3 */
    background-color: darkblue;
    border: 1px solid black;
    float: left;
    margin: 10px 10px;
}

/* .text.debug{
    height: 50px;
    background-color: yellow;
} */